.wenzitop{
    text-align:center;
    height:15px;
    font-size:21px;
    font-weight:bold;
}
.contentimg{
    text-align:center;
}
.contentimgtop{
    width:350px;
    height:40px;
}
.contentimgtu{
    width:320px;
    height:200px;
}