<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiangzhentong">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/tong"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoBar">
        <activity android:name=".viewlayer.activity.GongyiguanggaoActivity"></activity>
        <activity android:name=".viewlayer.activity.ShangjiaguanggaoActivity" />
        <activity android:name=".viewlayer.activity.GerenjianzhiActivity" />
        <activity android:name=".viewlayer.activity.BianminxinxiActivity" />
        <activity android:name=".viewlayer.activity.ZhenfuzhenceActivity" />
        <activity android:name=".viewlayer.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>